@import url('https://fonts.googleapis.com/css?family=Mali:700|Righteous');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 80vh;
}

header h1 {
    margin-top: 2rem;
    text-align: center;
    font-family: "Mali", sans-serif;
    font-size: 3rem;
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-btn {
    margin: .5rem;
    width: 13rem;
    height: 5rem;
    font-family: "Righteous", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #1f4037;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition-property: transform;
    transition-timing-function: ease-in;
    transition-duration: 100ms;
    outline: none;
}

.action-btn:hover {
    transform: scale(1.1);
}

.grid-section {
    display: flex;
    justify-content: center;
}

.grid {
    margin-top: 1rem;
    width: 42rem;
    height: 42rem;
    border: 7px solid #1f4037;
    border-radius: 10px;
    box-shadow: 0 0 10px #47927e;
}

.grid-row {
    display: flex;
}

.grid-rectangle {
    border: 1px solid rgba(31, 64, 55, 0.5);
    flex: 1;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}